<div class="container-content">
    <hgroup class="title">
        <h2>Confirmação de esquecimento de senha</h2>
    </hgroup>
    <div>
        <p>
            Por favor, verifique seu e-mail para trocar sua senha.
        </p>
        @if (ViewBag.Status != null)
        {
            <p class="text-danger">
                <h4>@ViewBag.Status <a href="@ViewBag.LinkAcesso">Link de acesso</a></h4>
            </p>
        }
    </div>
</div>


