<!--  Navbar  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-bars"></i>
    </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">Página Inicial</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("About","Home")">Sobre</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Contact","Home")">Contato</a>
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>