/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    overflow: hidden;
    font-family: sans-serif;
    font-size: 0.8rem;
}

.footer {
    position: absolute;
    display: flex;
    padding: 15px 10px;
    bottom: 20px;
    width: calc(100% - 40px);
}

    .footer span {
        padding: 0.5rem 1rem;
    }

label.is-invalid {
    font-weight: bold;
    color: #dc3545;
}

.footer-custom span {
    color: #fff !important;
}

.fas {
    padding: 6px 9px;
}

/*Daqui pra baixo tem que tirar*/

.full-content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.body-content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: calc(100vh - 50px);
}

.table-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.table-hover tbody tr:hover {
    background-color: #e3f4f6;
}

.btn-link {
    color: #17a2b8;
}

.presentation {
    position: relative;
    overflow: hidden;
    margin: 0;
    background: none;
    border-radius: 0;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

.bg-image{
   width: 100%;
   z-index: -1;
   position: absolute;
   top: 0;
   left: 0;
}

.jumbotron-title {
    text-shadow: 1px 1px 11px #000;
    color: #f8f9fa;
    font-size: 4rem;
}
.form-control {
    font-size: 0.8rem;
    height: calc(2.01rem + 2px);
}

.input-group-append {
    height: calc(2.01rem + 2px);
    font-size: 0.8rem;
}


.input-group-text {
    font-size: 0.8rem;
}
h2 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}
h6 {
    font-size: 1rem;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-12 {
    padding: 0;
}

.jumbotron-title2 {
    text-shadow: 1px 1px 11px #000;
    color: #f8f9fa;
    font-size: 2rem;
}

.lead {
    text-shadow: 0px 4px 14px #000;
    color: #f8f9fa;
    font-size: 1.2rem;
}

.presentation address {
    text-shadow: 0px 4px 14px #000;
    color: #f8f9fa;
    font-size: 0.9rem;
}

.presentation address a {
    text-shadow: 0px 4px 14px #000;
    font-weight: 600;
}

.container-content {
    padding: 20px;
    position: relative;
    height: 100%;
}

.about-image {
    width: 100%;
}

.btn-info, .btn-danger {
  font-size: 0.8rem;
}

#sidebarCollapse {
    font-size: 1rem;
}

.table th, .table td {
    padding: 0.5rem 0.3rem;
}

.about-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    filter: alpha(opacity=30);
}

.about-title {
    text-shadow: 1px 1px 11px #000;
    color: #f8f9fa;
    font-size: 3rem;
}

.about-text-container {
    font-size: 1rem;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    text-shadow: 0px 4px 14px #000;
    color: #f8f9fa;
    font-weight: 300;
}

.row {
    margin: 0 !important;
}