/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    overflow: hidden;
    font-family: sans-serif;
}

.footer {
    position: absolute;
    display: flex;
    padding: 15px 10px;
    bottom: 20px;
    width: calc(100% - 40px);
}

    .footer span {
        padding: 0.5rem 1rem;
    }

label.is-invalid {
    font-weight: bold;
    color: #dc3545;
}

.footer-custom span {
    color: #fff !important;
}

.fas {
    padding: 6px 9px;
}

/*Daqui pra baixo tem que tirar*/

.full-content {
    position: relative;
}

.body-content {
    overflow: auto;
    padding: 40px 20px;
    max-height: calc(100vh - 200px);
}

.table-hover tbody tr:hover {
    background-color: #e3f4f6;
}
