@{
    ViewBag.Title = "Sobre";
}

<h2>@ViewBag.Title</h2>

<div class="text-justify">
    <p>
        Atualmente nossa empresa, RM, conta com duas unidades situadas na cidade de Sorocaba há aproximadamente 20 anos, onde uma unidade encontra-se localizada na zona norte e outra na região oeste.
    </p>
    <p>
        A empresa atua no ramo de tecnologia, realizando vendas e manutenção de equipamentos de informática como desktops, notebooks, tablets, celulares, impressoras e monitores, além de prestarmos serviços na área de redes e atendimento em domicilio, contamos atualmente com 12 (doze) funcionários entre as duas unidades, apenas a matriz possui o setor de contas a pagar.
    </p>
    <p>
        Por trabalharmos de forma correta, com dignidade e honestidade e prestarmos um serviço eficiente e célere, temos uma previsão de crescimento, no que diz respeito ao mercado, de 3% (três por cento) de crescimento anual, para os próximos cinco anos.
    </p>
</div>