@{
    ViewBag.Title = "Contato";
    ViewBag.Message = "Entre em contato conosco";
}

<style>
    .presentation {
        background-color: #e3f4f6;
    }
</style>

<div class="jumbotron presentation">
    <h1>@ViewBag.Title</h1>
    <h5>@ViewBag.Message</h5>
    <address>
        Doutor Rivaldo Costa Oliveira, 320<br />
        Parque São Bento, Sorocaba, SP 18-072-070<br />
        <strong>Telefone: </strong>+55 (15) 99823-3579
    </address>
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>