@{
    ViewBag.Title = "Contato";
    ViewBag.Message = "Entre em contato conosco";
}

<div class="jumbotron presentation">
    <h1>@ViewBag.Title</h1>
    <h5>@ViewBag.Message</h5>
    <address>
        Av. Eng. Carlos Reinaldo Mendes, 2015 <br/>
        Além Ponte, Sorocaba - SP, 18013-280<br />
        <strong>Telefone: </strong>+55(15) 3238-5266
    </address>
    <address>
        <strong>Support: </strong><a href="mailto:support@deklcp.com" class="btn-link">support@deklcp.com</a><br />
        <strong>Marketing: </strong> <a href="mailto:marketing@deklcp.com" class="btn-link">marketing@deklcp.com</a>
    </address>
</div>