@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron presentation">
    <h1>@ViewBag.Title</h1>
    <p class="lead">DEKL - O sistema de Contas a Pagar mais simples e descomplicado que você já viu!</p>
</div>