@{
    ViewBag.Title = "Página Inicial";
}

<style>
    .presentation {
        background-color: #e3f4f6;
    }
</style>

<div class="jumbotron presentation">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Bem vindo ao melhor sistema de contas a pagar!</p>
</div>