<div class="jumbotron presentation">
    <img alt="imagem de fundo com contas" src="~/images/contas.jpg" class="bg-image"/>
    <h1 class="jumbotron-title">DEKL</h1>
    <p class="lead"> O sistema de Contas a Pagar mais simples e descomplicado que você já viu!</p>
</div>