@model IEnumerable<DEKL.CP.Infra.CrossCutting.Identity.Models.Claim>

@{
    ViewBag.Title = "Papéis";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Adicionar", "CreateClaim", null, new { @class = "btn btn-info"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(m => item.Name)
        </td>
    </tr>
}

</table>
